/* images converted to base64 courtesy of: http://webcodertools.com/imagetobase64converter/Create
   *props* to Chrome for not providing a way to reference the current extensions resources from CSS.
   Hard coding the ID does not work because the ID is different when packaged. Props Chrome, Props!!! */

div.afterthedeadline-button
{
    /* general icon in text input */
  position: absolute !important;
  background: url(../images/fairlanguage_logo_16_black_whitebg.png) transparent no-repeat top left !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0px !important;
  margin: 0px !important;
  top: 0px;
  left: 0px;
}

div.afterthedeadline-button.afterthedeadline-focus, div.afterthedeadline-button.afterthedeadline-hover, div.afterthedeadline-button:hover
{ /* icon when text input is in focus */
  background-image: url(../images/fairlanguage_logo_16_white_color.png) !important;
}

div.afterthedeadline-button.afterthedeadline-done
{
  /* icon when analysis was done */
  background-image: url(../images/fairlanguage_logo_16_color_green.png) !important;
          animation: rotating-function 1.25s linear infinite;
from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* AtD error styles */

.hiddenSpellError
{
   border-bottom: 2px solid red !important;
   cursor: pointer;
}

.hiddenGrammarError
{
   border-bottom: 2px solid green !important;
   cursor: pointer;
}

.hiddenSuggestion
{
   border-bottom: 2px solid #AB7CEB !important;
   cursor: pointer;
}

/* Menu styles derived from:
 * jquery.spellchecker.js - a simple jQuery Spell Checker
 * Copyright (c) 2008 Richard Willis
 * MIT license  : http://www.opensource.org/licenses/mit-license.php
 * Project      : http://jquery-spellchecker.googlecode.com
 */

div.suggestmenu
{
   background: #fff;
   position: absolute;
   display: block;
   z-index: 9999;
   overflow: none;
   margin-top: 1px;
   text-align: left;
   font-size: 16px;
   cursor: default;
}

div.suggestmenu strong
{
   background: #ddd;
   font-weight: 500;
   padding:20px 20px 20px 20px;
   display:block;
   border:1px solid #ccc;
   color: black;
   cursor: default;
}

div.suggestmenu em
{
   text-align:center;
   padding:3px 6px 3px 6px;
   display:block;
   border-top:1px solid #ccc;
   border-left:1px solid #ccc;
   cursor: default;
}

div.suggestmenu div
{
   background: #fff;
   border-left:1px solid #bbb;
   border-right:1px solid #bbb;
   border-bottom: 1px solid #bbb;
   padding:10px 10px 10px 10px;
   display:block;
   margin:0px;
   text-decoration:none;
   color:#333;
   outline:none
   cursor: default;
}

div.suggestmenu div.first
{
   border-top:1px solid #ccc
}

.spell_sep_bottom
{
   border-bottom: 1px solid #ccc;
}

.spell_sep_top
{
   border-top: 1px solid #ccc;
}

div.suggestmenu div:hover
{
   color:#000;
   background: #dbecf3
}

div.suggestmenu .foot
{
   border-top:1px solid #ddd;
   background:#fff
}

div.suggestmenu .foot div
{
   outline:none
}

/* make it so AtD can work with TinyMCE */
div #AtD_Content *
{
   white-space: pre-wrap !important;
   overflow: visible !important;
}

/* make it so some font elements are inherited */
div #AtD_Content div, div #AtD_Content p, div #AtD_Content span
{
   font-size: inherit !important;
   font-family: inherit !important;
   font-weight: inherit !important;
   line-height: inherit !important;
}

span.mceItemHidden, span.hiddenSuggestion, span.hiddenSpellError, span.hiddenGrammarError
{
   float: none;
}
