body {
	width: 348px;
        background: #fff;
				font-family: "Montserrat";
				font-size: 16px;
	margin: 2;
	overflow: hidden;

}
a {
       	color: #1390ec;
}

.img {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

a:visited {
       	color: #006;
}
a:hover {
       	color: #000;
}
